body,
p {
  font-family: arial, sans-serif;
  margin: 0px;
}
p {
  background-color: #0ea;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
div {
  background-color: #0ae;
  margin: 20px 0px;
}
.p1 {
  margin-top: 20px;
}
.p2 {
  margin-bottom: 40px;
}
.bordure {
  border: 2px solid black;
}
.arrondi1 {
  border-radius: 100px / 20px;
}
.arrondi2 {
  border-radius: 50px;
}
.arrondi3 {
  border-radius: 25%;
}
/*#p1 {
  margin-bottom: 30px;
}
#p2,
#p3 {
  margin-top: 50px;
}

.p1 {
  border-width: 5px 4px 3px 2px;
  border-style: solid dashed solid dashed;
  border-color: #09c red yellow green;
}
.p2 {
  border: 15px double #09c;
}
.p3 {
  background-color: #0c9;
  border: 5px ridge #09c;
}
.p4 {
  background-color: #0c9;
  border: 5px outset #09c;
}
/*span {
  background-color: orange;
}
.s1 {
  padding: 10px;
}
p,
span {
  font-size: 1em;
}
.d1 {
  width: 50%;
  height: 200px;
  border: 1px solid black;
  overflow: scroll hidden;
}
.d2 {
  width: 400px;
  height: 200px;
  border: 1px solid black;
}
.d3 {
  width: 300px;
  height: 200px;
  border: 1px solid black;
}
.d4 {
  width: 50%;
  height: 200px;
  border: 1px solid black;
}
.p1 {
  background-color: lightblue;
  width: 400px;
  height: 100px;
}
.p2 {
  background-color: lightgreen;
  width: 100%;
  height: 25%;
}
.p3 {
  background-color: orange;
  width: 200px;
  height: 50px;
}
.p4 {
  background-color: yellow;
  width: 50%;
  height: 25%;
}
.p5 {
  background-color: lightblue;
  width: 200px;
  height: 60px;
  overflow: hidden;
}
.p6 {
  background-color: lightgreen;
  width: 100%;
  height: 25%;
}
.p7 {
  box-sizing: border-box;
  background-color: lightblue;
  width: 100%;
  height: 50px;
  border: 10px solid purple;
}
.p8 {
  box-sizing: border-box;
  background-color: lightgreen;
  width: 100%;
  height: 25%;
  padding: 20px;
  margin: 10px;
}
.s1 {
  background-color: orange;
  width: 400px;
  height: 100px;
}
.s2 {
  background-color: yellow;
} */
