#conteneur {
  display: flex;
  background-color: grey;
  border: 10px solid purple;
  width: 300px;
  height: 500px;
  margin: 20% auto;
  /*direction d'entrée des éléments*/
  flex-direction: row;
  /*si débordement alors passage a la ligne suivant grace au flexwrap valeur wrap */
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
.affichageBox {
  border: 1px solid black;
  width: 100px;
  height: 50px;
  padding: 10px;
  text-align: center;
}
#element1 {
  background-color: orange;
}
#element2 {
  background-color: blue;
}
#element3 {
  background-color: green;
  flex: 1 1 20px;
}
#element4 {
  background-color: red;
}
#element5 {
  background-color: pink;
  align-self: flex-end;
}
.dernier {
  order: 4;
}
.premier {
  order: -2;
}
