body {
  font-family: "Source code pro", "Verdana", sans-serif;
  font-size: 12px;
}
h1 {
  text-transform: uppercase;
  color: blueviolet;
  font-size: 25px;
  text-align: center;
  padding: 15px;
  border: 1px solid red;
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgb(163, 113, 211);
  font-weight: 700;
  font-style: oblique;
  background-color: whitesmoke;
  margin: 0px 500px 0 500px;
  text-shadow: 3px 3px 3px blueviolet;
}
p {
  text-align: center;
  text-indent: 50%;
}
#p1 {
  font-size: small;
}
#p2 {
  font-size: larger;
}
#p3 {
  font-size: 0.5em;
}
#p4 {
  font-size: 80%;
}
span {
  font-size: 1.5rem;
  text-decoration: underline wavy red;
}
