body {
  background-color: black;
  margin: 0px 10px 0px 10px;
}
.global {
  display: flex;
}
.titre {
  background-color: grey;
  color: white;
  border: 5px solid rgb(6, 42, 88);
}
.titre h1 {
  font-size: 40px;
  margin-left: 20px;
}
.titre h2 {
  font-size: 30px;
  margin-left: 20px;
}
.colonneBleu {
  background-color: rgb(0, 110, 255);
  width: 15%;
  height: 100%;
  padding-bottom: 100%;
}
.barNav {
  background-color: yellow;
  margin-top: 0%;
  font-size: 20px;
}
.main {
  background-color: white;
  width: 85%;
}
.main h1 {
  font-size: 40px;
  background-color: whitesmoke;
  border-bottom: 3px solid rgb(60, 150, 100);
  margin-left: 20px;
}
.p1 {
  border: 3px solid rgb(99, 180, 135);
  border-radius: 10px;
  margin-left: 20px;
  padding: 5px;
}
.main h2 {
  font-size: 30px;
  color: rgb(60, 150, 100);
  margin-left: 20px;
}
.p2 {
  margin-left: 20px;
}
p {
  font-size: 20px;
}
