* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto Slab", serif;
}
body {
  background: linear-gradient(135deg, #0a45b3 0%, #ffffff 99%, #7692ca 100%)
    no-repeat;
}
h1 {
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
  margin: 40px 0px 40px 0px;
}
/*************Menu Déroulant*********************/
:root {
  --hauteur-menu: 60px; /*Variable créée pour la hauteur du menu, elle peut etre redéfinie*/
}
nav {
  /*l'element nav prend toute la largeur de l'écran et sera toujours en haut de page meme après avoir scroll*/
  width: 100%;
  font-size: 18px;
  position: sticky;
  top: 0;
}
nav > ul {
  display: flex;
  text-align: center;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.3);
  height: var(--hauteur-menu);
}
nav ul {
  list-style-type: none;
}
nav > ul > li {
  background-color: white;
  position: relative;
  height: 100%;
  flex: 1;
}
nav > ul > li > a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

li a {
  text-decoration: none;
  color: black;
}

.menu-deroulant > a:after {
  content: "❯";
  font-size: 15px;
  margin-left: 7px;
  display: inline-block;
}
.sous-menu {
  margin-top: var(--hauteur-menu);
  width: 100%;
  text-align: left;
  background-color: white;
  border-radius: 2px;
  overflow: hidden;
  max-height: 0;
}
.sous-menu > li > a {
  height: 50px;
  padding-left: 20px;
  width: 100%;
  align-items: center;
  display: flex;
}
nav > ul > li:hover > a {
  color: #0a45b3;
}
.sous-menu > li:hover {
  background-color: rgba(33, 105, 236, 0.3);
}
.sous-menu > li:hover > a {
  color: white;
}
@keyframes rotationFleche {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
.menu-deroulant:hover > a:after {
  animation: rotationFleche 0.2s linear forwards;
}
@keyframes apparitionSousMenu {
  0% {
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0);
    border-top: 3px solid #0a45b3;
  }
  30% {
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
  }
  100% {
    max-height: 50em;
    border-top: 3px solid #0a45b3;
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
  }
}
.menu-deroulant:hover > .sous-menu {
  animation: apparitionSousMenu 1s forwards;
}
/********Partie Présentation avec une grille*********/
#grillePresentation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 40px;
}
.bandeauSousmenu {
  grid-area: 1 / 1 / 3 / 5;
  background-image: url(../Medias/header.jpg);
  height: 200px;
  box-shadow: 0px 1px 5px 1px #0a45b3;
}
.infoPratique {
  grid-area: 3 / 3 /3 / 1;
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  line-height: 2em;
}
.photoThi {
  grid-area: 4 / 4 / 3 / 5;
  width: 100px;
  height: 200px;
  text-align: center;
}
/**********Séparation parties********/
#laLigne {
  height: 2px;
  background-color: rgb(0, 0, 0);
  width: 50%;
  margin: 0 auto;
}
/***********Partie Parcours**********/
.parcoursPro {
  margin: 10px 100px 10px 100px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 2px 2px 10px black;
  text-align: center;
  font-size: 20px;
  line-height: 2em;
}
.parcoursPro article {
  margin: 10px 0px 10px 0px;
}
.borderArticle {
  margin-top: 40px;
  border-top: 2px solid black;
}
